*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: Wonderful;
    src: url(Wonderful-Future-17849243/Wonderful\ Future.otf);
}
@font-face {
    font-family:roboto;
src: url(img/Roboto-Regular.ttf);
}
p{
    font-family:roboto;
}



h1{
    font-family: Wonderful;
}

#menu {
 
    padding: 0.5em 0 2.5em 0 ;
}
#menu ul{
    

    display:flex;
    align-items: center;
    flex-direction: row;
    
    list-style: none;
    justify-content: space-around;
}

#menu ul button{
 
    padding: 1em 1em 1em 1em;
    font-size: 1.2em;
    background-color:rgba(0, 0, 0, 0.274) ;
    border-radius: 1em; 
}
#fondo{
    font-size: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    background-image: url(img/59f7695f90ef8.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    
}

#section0{
   color: black; 
  text-align: center;
}



#section1{
    
    
display: flex;

background-color: rgba(255, 255, 255, 0.322);
}

#section1 div{

    width: 50%;
    padding: 5em 5em 5em 5em ;
    margin: 2em 2em 2em 2em;
}


#img1{
 
    padding: 3em 3em 3em 3em ;
    
    width: 50%;
}
#section2{
 display: flex;

flex-direction: row-reverse;
background-color:rgba(255, 255, 255, 0.397);
margin: 4em 0 0 0;

}
#img2{

    width: 50%;
    padding: 3em 3em 3em 3em ;
    
}
#section2 div{
    width: 50%;
    margin: 6em 6em 6em 6em;

}
#section3{
    display: flex;

background-color: rgba(255, 255, 255, 0.445);

margin: 2em 0 0 0;
}
#section3 div{
  
    width: 50%;
    padding: 7em 7em 7em 7em ;
    margin: 2em 2em 2em 2em;
}
#img3{
   
    width: 50%;
    padding: 1em 1em 1em 1em ;
    
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
    body {
      background-color:beige;
    }

    #fondo{
        font-size: 32px;
        text-align: center;
    }

    #menu ul{

        flex-direction: column;
    }
    #section0{
        text-align: center;

    }

    #section1{
        flex-direction: column-reverse;

    }
    #section1 div{

        width: 100%;
        margin: 0;
        padding: 2em 5em 5em 5em;
    }
    #img1{
        width: 100%;
    }
    #section2{
        flex-direction: column-reverse;

    }
    #section2 div{

        width: 100%;
        margin: 0;
        padding: 2em 5em 5em 5em;
    }
    #img2{
        width: 100%;
    }
    #section3{
        flex-direction: column-reverse;

    }
    #section3 div{

        width: 100%;
        margin: 0;
        padding: 2em 5em 5em 5em;
    }
    #img3{
        width: 100%;
    }



  }


  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
      background-color: beige;
    }

    #fondo{
        font-size: 45px;
        text-align: center;
    }
    #section0{
        text-align: center;

    }
    #section1 div{

        width: 100%;
        margin: 0;
        padding: 2em 2em 5em 5em;
    }

    #img1{
        object-fit: cover;
        width: 50%;
    }
    #section2 div{

        width: 100%;
        margin: 0;
        padding: 2em 2em 5em 5em;
    }

    #img2{
        object-fit: cover;
        width: 50%;
    }
    #section3 div{

        width: 100%;
        margin: 0;
        padding: 2em 2em 5em 5em;
    }

    #img3{
     
        width: 50%;
    }
}

